* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  background-color: #eaf4fb;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #1c1c1c;
  color: white;
  width: 220px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-align: center;
}

.nav-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  background-color: #1c1c1c;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
}
.nav-btn a{
    color: white;
    text-decoration: none;
}
.nav-btn.active,
.nav-btn:hover {
  background-color: #0b4e75;
}

.main-content {
  flex: 1;
  padding: 2rem;
  background-color: #d6effc;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

header h1 {
  font-size: 1.5rem;
  color: #1c1c1c;
}

.logout-btn {
  background-color: #d11a2a;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.logout-btn a{
    color: white;
    text-decoration: none;
}

.sales-cards {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  flex: 1;
  padding: 1rem;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card h3 {
  font-size: 1.2rem;
}

.card p {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.card span {
  font-size: 0.9rem;
}

.red {
  background-color: #ff4c4c;
}

.blue {
  background-color: #2a6ec9;
}

.green {
  background-color: #30a484;
}

.charts {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.chart-box {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.chart-box h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.chart-box img {
  width: 100%;
}
